---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Hero from '../components/sections/Hero.astro';
import MonthlySpecial from '../components/sections/MonthlySpecial.astro';
import Packages from '../components/sections/Packages.astro';
import Services from '../components/sections/Services.astro';
import HeadSpa from '../components/sections/HeadSpa.astro';
import Membership from '../components/sections/Membership.astro';
import Story from '../components/sections/Story.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import GiftCard from '../components/sections/GiftCard.astro';
import Location from '../components/sections/Location.astro';
import Footer from '../components/sections/Footer.astro';
import StickyMobileBar from '../components/sections/StickyMobileBar.astro';
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <Services />
    <Packages />
    <MonthlySpecial />
    <HeadSpa />
    <Membership />
    <Story />
    <Testimonials />
    <GiftCard />
    <Location />
  </main>
  <Footer />
  <StickyMobileBar />
</Layout>
