---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import HeadSpa from '../components/sections/HeadSpa.astro';
import PromoBanner from '../components/sections/PromoBanner.astro';
import Story from '../components/sections/Story.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import Location from '../components/sections/Location.astro';
import Footer from '../components/sections/Footer.astro';
import StickyMobileBar from '../components/sections/StickyMobileBar.astro';
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <Services />
    <HeadSpa />
    <PromoBanner />
    <Story />
    <Testimonials />
    <Location />
  </main>
  <Footer />
  <StickyMobileBar />
</Layout>
